
@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');


.inter-font {
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}
body{
    max-width: 1440px;
    margin: 0 auto;
    background:black;
    color: white;
    background-repeat: no-repeat;
    margin-left: 150px;
    
}
.navigation{
    display: flex;
    justify-content: space-between;
    /*margin-left: 150px;*/
    margin-right: 150px;
}
.nav-links{
    display: flex;
    border: 1px solid rgba(255, 255, 255, 0.1);
    border-radius: 16px;
}
.nav-item{
    list-style: none;
    margin-right: 30px;
}
.nav-link{
    text-decoration: none;
    font-weight: 400;
    color:white;
    font-size: 1.2rem;
    margin-top: 10px;
}
button{
    background-color: rgb(230, 83, 60);
    border: none;
    border-radius: 16px;
    color: white;
    font-weight: 600;
    font-size: 1.2rem;
    padding: 5px;
    
}

.heading2{
    
   max-width:520px;
   /* margin-left: 150px;*/
    margin-right: 150px;
    font-weight: 900px;
    font-size: 4.8rem;

}
.paragraph1{
    
    max-width: 520px;
    /*margin-left: 150px;*/
    font-size: 1rem;
    color: rgba(255, 255, 255, 0.5);
    }
    .btn{
        display: flex;
        flex-direction: row;
       /* margin-left: 150px;*/
        max-width: 520px;
        gap: 50px;
    }
    .btn1{
        color:  rgba(255, 255, 255, 0.5);
        background-color: rgb(230, 83, 60) ;
        border: none;
        border-radius: 16px;
        font-size: 1rem;
        padding: 10px;
        margin-top: 20px;
    }
    .btn2{
        background-color: black;
        border: 1px  white solid;
        color:  rgba(255, 255, 255, 0.5);
        
        border-radius: 16px;
        font-size: 1rem;
        padding: 10px;
        margin-top: 20px;
    }
    .image{
        max-width: 520px;
        margin-top: 50px;
        
    }
    .img1{
        width: 100%;
    }
    .banner{
        display: flex;
        flex-direction: row;
    }
    .third-section{
        margin-top: 50px;
        display: flex;
        flex-direction: row;
        gap: 100px;
      
    }
    .third-heading{
        font-size: 3rem;
        text-align: left;
        
    }
    .second-para{
        font-size: 1rem;
        font-weight: 400;
        color: rgba(255, 255, 255, 0.5);
        line-height: 24px;
        text-align:left;
    }
    .run{
        max-width: 443px;
    }
    .image2{
        margin-top: 50px;
        max-width: 366px;
        height: 312px;
        
    }
    .img2{
        width: 100%;
        border-radius: 16px;
    }
    .btn4{
        padding: 10px 20px 10px 20px;
        background-color: rgb(230, 83, 60);
        border-radius: 16px;
        font-size: 0.8rem;
    }
   .team, .habits{
    margin-top: 50px;
    max-width: 670px;
    margin: 0 auto;
    text-align: center;
   }

    
    .heading4{
       
        font-size: 3rem;
        font-weight: 600;
    }
    .para4{
       
       font-size: 1rem;
       font-weight: 400;
       line-height: 24px;
       color: rgba(255, 255, 255, 0.5);
       
    }
    .team-img{
        height: 272px;
        width:321px;
        border-radius: 16px;
       }
    .pictures{
        margin-top: 50px;
        display: grid;
        grid-template-columns:repeat(3,321px);
        gap: 10px;
        
        
    }
  
   .a1{
    position: relative;
   }
   .text1{
    position: absolute;
    text-align: left;
    bottom: 0;
    left: 16px;
   
   }
   .a2{
    position: relative;
   }
   .text2{
    position: absolute;
    text-align: left;
    bottom: 0;
    left: 16px;

   }
   .jerom{
    font-weight: 400;
    font-size: 1.2rem;
   }
   .a3{
    position: relative;
   }
   .text3{
    position: absolute;
    text-align: left;
    bottom: 0;
    left: 16px;
   }
   .a4{
    position: relative;
   }
   .text4{
    position: absolute;
    text-align: left;
    bottom: 0;
    left: 16px;
   }
   .a5{
    position: relative;
   }
   .text5{
    position: absolute;
    text-align: left;
    bottom: 0;
    left: 16px;
   }
   .a6{
    position: relative;
   }
   .text6{
    position: absolute;
    text-align: left;
    bottom: 0;
    left: 16px;
   }
   .bell{
    font-weight: 400;
    font-size: 1rem;
   }
   .habit-img{
    border-radius: 90px;
   
   }
   .habit-pics{
    display: flex;
    flex-direction: row;
    gap: 10px;
    align-items: center;
    justify-content: center;
   
   }
   .habit-heading{
    text-align: left;
    font-size: 1.2rem;
    max-width:230px;
    margin-left: 60px;
    font-weight: 500;
   
   }
   .all{
    width:  100%;
    height: auto;
    margin: 0 auto;
   }
   .para1{
    text-align: center;
    font-size: 1rem;
    color:  rgba(255, 255, 255, 0.5);
    max-width: 230px;
   }
   .footer-head{
    padding-left: 40px;
    font-size: 3rem;
    font-weight: 400;
   }
   .footer-links{
    display: flex;
    flex-direction: column;
   }
   .footer{
    display: flex;
    flex-direction: row;
    margin-top: 50px;
    
   }
   .footer-heading{
    color: rgb(230, 83, 60);
    font-size: 3rem;
    font-weight: 500;
   }
   .footer-para{
    color: rgba(255, 255, 255, 0.5);
    font-size: 0.8rem;
    font-weight: 400;
   }
   .jhamela{
    width: 33.3%;
   }
   .link-footer{
    color: rgba(255, 255, 255, 0.5);
    font-size: 0.8rem;
    line-height: 24px;
   }
   .line{
    color:rgba(255, 255, 255, 0.5) ;
   }
   

  .calculator{
   
    text-align:center;
  }
  .container{
    
    max-width:1000px;
    height:450px;
    margin:0 auto;
    background:rgb(34,34,34);
    display:flex;
    justify-content:space-around;
    gap:60px;
  }
  .container-title{
    font-size:1.75rem;
    font-weight:900;
  }

  /* TAble Styles */
  .chart{
    width:443px;
    height:386px;
    text-align:left;
    margin-left:50px;
    
  }

  table{
    border-collapse:collapse;
    width:310px;
    height:216px;
  }

  td,th{
    border:1px solid rgba(255,255,255,0.1);
  }

  td{
    font-size:0.875rem;
    color:rgba(255,255,255,0.5);
    padding:15px;
  }
  th{
    padding:15px;
  }

  /* Form Style */
  .form{
    width:577px;
    height:386px;
    text-align:left;
    margin-right:159px;
    
  }

  .container-description{
    font-size:0.875rem;
    color:rgba(255,255,255,0.5);
    margin-top:14px;
  }

  input{
    width:260px;
    height:48px;
    border-radius:8px;
    background:rgba(255,255,255,0.1);
    margin:5px 5px 5px 0px;
    
  }

  #sex{
    width:270px;
    height:48px;
    border-radius:8px;
    background:rgba(255,255,255,0.1);
    color:rgba(255,255,255,0.5);
    margin:5px 5px5px 0px;
    
  }
  #activity{
    width:547px;
    height:48px;
    border-radius:8px;
    background:rgba(255,255,255,0.1);
    color:rgba(255,255,255,0.5);
    margin:5px 5px 5px 0px;
    
  }
  .btn-primary{
    margin-top: 10px;
    padding: 10px 30px 10px 30px;
  }





       
    @media screen and (max-width:576px){
        .banner{
            flex-direction: column;
            align-items: center;
            
        }
        body{
            margin-left: 5px;
        }
        .nav-links{
            flex-direction: column;
            
        }
        .third-section{
            flex-direction: column;
            align-items: center;
        }
        .pictures{
            grid-template-columns: repeat(1,321px);
            justify-content: center;
        }
        .fourth-para{
            align-items: center;
        }
        .btn{
            flex-direction: column;
        }
        .habit-pics{
            flex-direction: column;
            justify-content: center;
            
        }
        .container{
            flex-direction: column;
            height: auto;
        }
    }
        