
@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');
@import url('https://fonts.cdnfonts.com/css/miama');

.inter-font {
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}
.miama-font{
font-family: 'Miama', sans-serif;
font-size: 5rem;
font-weight: 400;
}
                                                
.header, .habit-sec, .third-section, .description, .fourth-para{
  margin-left: 150px;
}
.header{
  margin-left: 300px;
}
body{
    max-width: 1400px;
    margin: 0 auto;
    background:black;
    color: white;
    background-repeat: no-repeat;
   /* margin-left: 150px;*/
    
}
.navigation{
    margin-top: 10px;
    display: flex;
    justify-content: space-between;
    margin-left: 150px;
    /*margin-right: 150px;*/
}
.nav-links{
    display: flex;
    border: 1px solid rgba(255, 255, 255, 0.1);
    border-radius: 16px;
    align-items: center;
}
.nav-item{
    list-style: none;
    margin-right: 30px;
}
.nav-link{
    text-decoration: none;
    font-weight: 400;
    color:white;
    font-size: 1.2rem;
    margin-top: 10px;
}
.banner{
  margin-left: 150px;
 
}
.banner-img{
    position: relative;
    
    height: 100%;
}

.upper-box{
    width:193px;
    height:98px;
    box-sizing:border-box;
    border:1pxsolidrgba(255,255,255,0.1);border-radius:12px;
    backdrop-filter:blur(20px);
    background:rgba(255,255,255,0.1);
    text-align:center;
    
    position: absolute;
    top: 20%;
    
   right: -5%;
    
  }

  .lower-box{
    width:193px;
    height:98px;
    box-sizing:border-box;
    border:1px solid rgba(255,255,255,0.1);
    border-radius:12px;
    backdrop-filter:blur(20px);
    background:rgba(255,255,255,0.1);
    text-align:center;
    position: absolute;
    
    top: 80%;
    left: 0%;
    
    
  
   
  }
  .box-title{
    font-size: 2.5rem ;
    font-weight:600;
    color:white;
    margin-top:5px;
    margin-bottom:5px;
    
  }
  .box-description{
    font-size:0.8rem;
    font-weight:400;
    color:rgba(255,255,255,0.65);
    margin-top:5px;
  }



.button1{
    background-color: rgb(230, 83, 60);
    border: none;
    border-radius: 16px;
    color: white;
    font-weight: 600;
    font-size: 1.2rem;
    padding: 5px;
    
}
.heading1{
  max-width: 500px;
    font-size: 2rem;
    font-weight: 400;
    color: rgb(230, 83, 60) ;
}

.heading2{
    
   max-width:500px;
   /* margin-left: 150px;*/
    margin-right: 150px;
    font-weight: 800px;
    font-size: 4.8rem;

}
.paragraph1{
    max-width: 500px;
    
    /*margin-left: 150px;*/
    font-size: 1rem;
    color: rgba(255, 255, 255, 0.5);
    line-height: 24px;
    display: flex;
    flex-direction: column;
    }
    .btn{
        display: flex;
        flex-direction: row;
       /* margin-left: 150px;*/
        max-width: 520px;
        gap: 5%;
    }
    .btn1{
        color:  rgba(255, 255, 255, 0.5);
        background-color: rgb(230, 83, 60) ;
        border: none;
        border-radius: 16px;
        font-size: 1rem;
        padding: 10px;
        margin-top: 20px;
    }
    .btn2{
        background-color: black;
        border: 1px solid white;
        color: rgba(255, 255, 255, 0.5);
        
        border-radius: 16px;
        font-size: 1rem;
        padding: 10px;
        margin-top: 20px;
    }
    .image{
        max-width: 520px;
        margin-top: 50px;
        
    }
    .bar-img{
      width: 40px;
      height: 40px;
    }
    .bar{
      display: none;
    }
    .img1{
        width: 100%;
    }
    .banner{
        display: flex;
        flex-direction: row;
    }
    .third-section{
        height: auto;
        max-width: 1000px;
        margin-top: 100px;
        display: flex;
        flex-direction: row;
        gap: 100px;
        background:rgba(255,255,255,0.1) ;
        padding: 10px;
        border-radius: 16px;
      
    }
    .third-heading{
        font-size: 3rem;
        text-align: left;
        
    }
    .second-para{
        font-size: 1rem;
        font-weight: 400;
        color: rgba(255, 255, 255, 0.5);
        line-height: 24px;
        text-align:left;
    }
    .run{
        width: 50%;
    }
    .image2{
        margin-top: 30px;
        max-width: 366px;
        height: 312px;
        max-width: 50%;
        margin-bottom: 30px;
        
    }
    .img2{
        width: 100%;
        border-radius: 16px;
    }
    .btn4{
        padding: 10px 20px 10px 20px;
        background-color: rgb(230, 83, 60);
        border-radius: 16px;
        font-size: 0.8rem;
        border: none;
    }
    .calculator{
   
        text-align:center;
      }
      .bmi{
        margin-top: 100px;
      }
      .bmi-name{
        max-width: 670px;
        margin: 0 auto;
      }
      .description{
        margin-top: 100px;
        max-width: 1000px;
        margin-left: 10px;
     min-height: 450px;
    margin: 0 auto;
    background-image: url(images/exercise2.png);
    background-color: rgba(0,0,0, 0.5);
    background-blend-mode: overlay;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    
    border-radius: 16px;
 
      }
     
      .des-pics{
        padding-top: 50px;
        margin-top: 50px;
        margin: 0 auto;
        display: grid;
        grid-template-columns: 100px 100px;
        justify-content: center;
        align-items: center;
        gap: 150px;
       
      }

      .container{
        margin-right: 0;
        
        max-width:1500px;
        height:450px;
        margin:0 auto;
        background:rgb(34,34,34);
        display:flex;
        justify-content:space-around;
        gap:60px;
      }
      .section-title{
        font-size: 3rem;
        text-align: left;
        
      }
      .section-description{
      font-size: 1rem;
        font-weight: 400;
        color: rgba(255, 255, 255, 0.5);
        line-height: 24px;
        text-align:left;
      }
      .container-title{
        font-size:1.75rem;
        font-weight:900;
      }
    
      /* TAble Styles */
      .chart{
       max-width:443px;
        height:386px;
        text-align:left;
        margin-left:159px;
        
      }
    
      table{
        border-collapse:collapse;
        width:310px;
        height:216px;
      }
    
      td,th{
        border:1px solid rgba(255,255,255,0.1);
      }
    
      td{
        font-size:0.875rem;
        color:rgba(255,255,255,0.5);
        padding:15px;
      }
      th{
        padding:15px;
      }
    
      /* Form Style */
      .form{
        width:577px;
        height:386px;
        text-align:left;
        margin-right:159px;
        
      }
    
      .container-description{
        font-size:0.875rem;
        color:rgba(255,255,255,0.5);
        margin-top:14px;
      }
    
      input{
        width:260px;
        height:48px;
        border-radius:8px;
        background:rgba(255,255,255,0.1);
        margin:5px 5px 5px 0px;
        
      }
    
      #sex{
        width:270px;
        height:48px;
        border-radius:8px;
        background:rgba(255,255,255,0.1);
        color:rgba(255,255,255,0.5);
        margin:5px 5px5px 0px;
        
      }
      #activity{
        width:547px;
        height:48px;
        border-radius:8px;
        background:rgba(255,255,255,0.1);
        color:rgba(255,255,255,0.5);
        margin:5px 5px 5px 0px;
        
      }
      .btn-primary{
        margin-top: 10px;
        padding: 10px 30px 10px 30px;
        background-color: rgb(230, 83, 60);
        color:rgba(255, 255, 255, 0.5) ;
        border-radius: 16px;
        border: none;
      }
      
   .team, .habits{
    margin-top: 100px;
    max-width: 670px;
    margin: 0 auto;
    text-align: center;
   }
   .habit-sec{
    margin-top: 100px;
   }
 .habits{
  max-width: 500px;
 }
    
    .heading4{
       
        font-size: 3rem;
        font-weight: 600;
    }
    .para4{
       
       font-size: 1rem;
       font-weight: 400;
       line-height: 24px;
       color: rgba(255, 255, 255, 0.5);
       
    }
    .fourth-para{
      margin-top: 100px;
    }
    .team-img{
        height: 272px;
        width:321px;
        border-radius: 16px;
       }
    .pictures{
        margin-top: 50px;
        display: grid;
        grid-template-columns:repeat(3,321px);
        gap: 10px;
        
        
    }
  
   .a1{
    position: relative;
   }
   .text1{
    position: absolute;
    text-align: left;
    bottom: 0;
    left: 16px;
   
   }
   .a2{
    position: relative;
   }
   .text2{
    position: absolute;
    text-align: left;
    bottom: 0;
    left: 16px;

   }
   .jerom{
    font-weight: 400;
    font-size: 1.2rem;
   }
   .a3{
    position: relative;
   }
   .text3{
    position: absolute;
    text-align: left;
    bottom: 0;
    left: 16px;
   }
   .a4{
    position: relative;
   }
   .text4{
    position: absolute;
    text-align: left;
    bottom: 0;
    left: 16px;
   }
   .a5{
    position: relative;
   }
   .text5{
    position: absolute;
    text-align: left;
    bottom: 0;
    left: 16px;
   }
   .a6{
    position: relative;
   }
   .text6{
    position: absolute;
    text-align: left;
    bottom: 0;
    left: 16px;
   }
   .bell{
    font-weight: 400;
    font-size: 1rem;
   }
   .habit-img{
    border-radius: 90px;
   
   }
   .habit-pics{
    display: flex;
    flex-direction: row;
    gap: 10px;
    align-items: center;
    justify-content: center;
   
   }
   .habit-heading{
    text-align: left;
    font-size: 1.2rem;
    max-width:230px;
    margin-left: 60px;
    font-weight: 500;
   
   }
   .all{
    width:  100%;
    height: auto;
    margin: 0 auto;
   }
   .para1{
    text-align: center;
    font-size: 1rem;
    color:  rgba(255, 255, 255, 0.5);
    max-width: 230px;
   }
   .footer-head{
    padding-left: 40px;
    font-size: 3rem;
    font-weight: 400;
   }
   .footer-links{
    display: flex;
    flex-direction: column;
   }
   .footer{
    max-width: 1000px;
    
    margin-top: 100px;
    margin-left: 150px;
   
    background: rgba(255,255,255,0.1);
    border-radius: 16px;
    
   }
   .footer-div{
    display: flex;
    flex-direction: row;
    margin-left: 20px;
   }
   .footer-heading{
    color: rgb(230, 83, 60);
    font-size: 3rem;
    font-weight: 500;
   }
   .footer-para{
    color: rgba(255, 255, 255, 0.5);
    font-size: 0.8rem;
    font-weight: 400;
   }
   .jhamela{
    width: 33.3%;
   }
   .link-footer{
    color: rgba(255, 255, 255, 0.5);
    font-size: 0.8rem;
    line-height: 24px;
   }
   .line{
    color:rgba(255, 255, 255, 0.5) ;
   }
   

  
  .footer-end{
    text-align: center;
    color: rgba(255,255,255,0.5);
    font-size: 1.2rem;
    margin-bottom: 10px;
  }
  .des-heading{
    font-weight: 500px;
    color: #d1c89ee0;
  }
  .des-para{
    font-size: 1.2rem;
  }





       
    @media screen and (max-width:576px){
      .header, .habit-sec, .third-section, .description, .fourth-para{
        margin-left: 5px;
      }
      .navigation{
        margin-top: 10px;
        display: flex;
        justify-content: space-between;
        margin-left: 150px;
        /*margin-right: 150px;*/
    }
    .bar{
      margin-top: 20px;
      display: flex;
    }
    .nav-link{
      display: none;
    }
        .banner{
            flex-direction: column;
            align-items: center;
            
        }
        body{
            margin-left: 5px;
        }
        
        
        .paragraph1{
            text-align: left;
            width: 100%;
            display: flex;
        }
       
        .nav-links{
           display: none;
            
        }
        .third-section{
            flex-direction: column;
            align-items: center;
            height: auto;
            width: 100%;
            padding: 0px;
        }
        .image2{
            justify-items: flex-start;
        }
        .pictures{
            grid-template-columns: repeat(1,321px);
            justify-content: center;
        }
        .fourth-para{
            align-items: center;
        }
        
        /*.btn{
            flex-direction: column;
        }*/
        .form{
            margin-right: 5px;
        }
        .habit-pics{
            flex-direction: column;
            justify-content: center;
            align-items: center;
            
        }
        .habits,.heading4,.para4{
            text-align: left;
        }
        
       
        .footer{
            width: 100%;
            height: auto;
            margin-left: 10px;
        }
        .navigation,.banner{
          margin-left: 20px;
        }
        .footer-div{
            flex-direction: column;
        }
        .upper-box{
          display: none;
        }
        .footer-end{
      text-align: left;
        }
        .jhamela{
            width: 100%;
        }
        .container{
            flex-direction: column;
           width: 100%;
            height: auto;
            margin: 0 auto;
            gap: 30px;
        }
        .chart{
            width: 100%;
            margin: 0 auto;
            padding: 5px;
            margin-left: 5px;

        }
        .form{
            width: 100%;
            margin: 0 auto;
            padding: 20px;
            margin-right: 5px;
        }
        .container-title{
            font-size: 1rem;
        }
        input{
            width: 160px;
            height: 45px;
        }
        #sex{
            width: 165px;
            height: 45px;

        }
        #activity{
            width: 348px;
            height: 45px;
        }
        .des-pics{
          grid-template-rows: 100px 100px 100px 100px;
          gap: 10px;
        }
    }
        